<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meta">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".UI.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meta">
        <activity
            android:name=".UI.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.PostLikedByActivity"
            android:exported="false" />
        <activity
            android:name=".UI.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.InformationThereUserActivity"
            android:exported="false" />
        <activity
            android:name=".UI.InformationUserActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ThereProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.AddPostActivity"
            android:exported="false">

            <!-- for image -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- for text -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.ChatActivity"
            android:exported="false"
            android:theme="@style/AppThemeno" />
        <activity
            android:name=".UI.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".UI.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <service -->
        <!-- android:name=".notifications.FirebaseService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:stopWithTask="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".notifications.FirebaseMessing"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- define file provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.blogspot.atifsoftwares.firebaseapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>